a {
	text-decoration:none;
}
@font-face {
  font-family: "Girloy";
  src: url("../font/Gilroy-Regular.eot");
  src: url("../font/Gilroy-Regular.eot?m4qrx6#iefix") format("embedded-opentype"), url("../font/Gilroy-Regular.woff2?m4qrx6") format("woff2"), url("../font/Gilroy-Regular.woff?m4qrx6") format("woff"), url("../font/Gilroy-Regular.ttf?m4qrx6") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Girloy Bold";
  src: url("../font/Gilroy-Bold.eot");
  src: url("../font/Gilroy-Bold.eot?m4qrx6#iefix") format("embedded-opentype"), url("../font/Gilroy-Bold.woff2?m4qrx6") format("woff2"), url("../font/Gilroy-Bold.woff?m4qrx6") format("woff"), url("../font/Gilroy-Bold.ttf?m4qrx6") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Girloy Semi-Bold";
  src: url("../font/Gilroy-Semibold.eot");
  src: url("../font/Gilroy-Semibold.eot?m4qrx6#iefix") format("embedded-opentype"), url("../font/Gilroy-Semibold.woff2?m4qrx6") format("woff2"), url("../font/Gilroy-Semibold.woff?m4qrx6") format("woff"), url("../font/Gilroy-Semibold.ttf?m4qrx6") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Girloy Medium";
  src: url("../font/Gilroy-Medium.eot");
  src: url("../font/Gilroy-Medium.eot?m4qrx6#iefix") format("embedded-opentype"), url("../font/Gilroy-Medium.woff2?m4qrx6") format("woff2"), url("../font/Gilroy-Medium.woff?m4qrx6") format("woff"), url("../font/Gilroy-Medium.ttf?m4qrx6") format("truetype");
  font-style: normal;
  font-weight: 400;
}
* {
	font-family: 'Girloy';
	color:#000000;
}
a:hover {
	color:#000000;
}
body.custom-background {
    background-color: #ffffff !important;
}
.brand-logo {
    max-width: 200px;
    padding: 0;
}
.navbar-end {
	font-size:14px;
}
.menu-item:hover{
	text-decoration:underline;
	cursor:pointer;
	color:#000000;
}

.categories-section {
	display: flex !important;
	flex-wrap: wrap !important;
	justify-content:space-between;
	column-gap: 0 !important;
	min-height:200px;
	margin:30px 0;
	max-width: 1050px;
    margin: 50px auto 0 auto;
	
}

.category-box {
	width: calc((100% - 60px) / 3);
	margin-right: 0px;
	margin-bottom: 38px;
	background:#EEEEEE;
	border-radius:30px;
	display:flex;
	align-items:center;
	text-align:center;
	justify-content:space-between;
	padding:20px;
	max-height:123px;
	max-width:322px;
	font-family: "Girloy Semi-Bold";
	transition:background-color 0.5s ease;
}
.category-box:hover {
	background:#dddddd !important;
	cursor:pointer;
}
.category-box h3 {
	color:#000000;
	font-family: "Girloy Semi-Bold";
	font-size:20px;
	line-height:24px;
	text-align:right;
}

.content a, .widget a {
	text-decoration:none;
}
.box {
	background:none;
	box-shadow:none;
	padding:0;

}
.has-background-grey {
	background:#eeeeee !important;
}
.panel-block {
	box-shadow:none;
	border-radius:20px;
}
a.panel-block:hover, label.panel-block:hover {
	background:none !important;
}
a.panel-block:hover, label.panel-block:hover h4 {
	text-decoration:underline;
	cursor:pointer;
}
.panel-block h4 {
	font-size:14px;
	margin:0;
	font-family: "Girloy Semi-Bold";
}
.panel-block p{
	font-size:12px;
	margin:0;
	font-family: "Girloy Medium";
}
.title {
	display:none;
}
.wp-block-search__input {
	border-radius:5px;
	padding:20px;
	 box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
	border:1px solid #dddddd;
}
.wp-block-search__input:focus {
	border:none !important;
	outline:none !important;
}


.is-primary.input {
	border-radius:17px;
	padding:20px;
	box-shadow: none !important;
	border:1px solid #42E4C9;
	height:50px !important;
	padding:5px 20px !important;
}
.search-form.is-relative .button.is-primary {
	border-radius:17px;
	padding:20px;
	 box-shadow:none !important;
	border:1px solid #42E4C9;
	border-left:none;
	background:#ffffff;
	color:#000000;
	height:50px !important;
	min-width:50px;
	font-family: "Girloy Medium";
}

.search-form.is-relative .button.is-primary:hover {
	background:white !important;
	border-left:none !important;
	border:1px solid #42E4C9 !important;
}
#sidebar .widget.widget_block.content.box {
	margin-bottom:0 !important;
	padding-bottom:0 !important;
}
#sidebar .content h2 {
	font-family: "Girloy Semi-Bold";
	font-size:20px;
	color:#000000;
}
.wp-block-archives li a:before, .wp-block-categories li a:before {
	content:'';
	margin:0;
}
.wp-block-categories-list li a {
	color:#000000;
	font-family: "Girloy Medium";
	font-size:12px;
}
.wp-block-categories-list li a:before {
	color:#000000;
}
.wp-block-categories-list li {
	font-size:12px;
	margin:5px 0;
	padding:9px 15px;
	transition:background-color 0.5 ease-out;
}
.wp-block-categories-list li:hover {
	background:#dddddd;
	border-radius:11px;

}
.wp-block-categories-list li.current-cat {
	background:#dddddd;
	padding:9px 15px;
	border-radius:11px;
}
.wp-block-categories-list li.current-cat a{
	font-family: "Girloy Medium";
}

.back-link span{
	font-size:12px;
	font-family: "Girloy Semi-Bold";
	margin-left:5px;
}
.current-page span {
	font-family: "Girloy Semi-Bold";
	font-size:32px;
}
.breadcrumb ul li.is-active::before {
	display:none;
}
.wp-block-categories-list li.current-cat a{
	font-weight:bold;
}
.chat-blk {
	background:#7D4ACE;
	padding:40px 20px;

}
.chat-blk .container {
			display:flex;
	justify-content:space-between;
	align-items:center;
}
.chat-blk h6 {
	color:#ffffff;
	font-size:24px;
	margin:0;

}
.chat-blk p {
	color:#ffffff;
	font-size:20px;
	font-family: "Girloy Medium";
}
.button {
	min-width:127px;
	font-family: "Girloy Medium";
	min-height:42px;
	
}
.button.is-info {
	background:#41EFD2;
	font-size:14px;
	color:#000000;
	border-radius:15px;
	padding:10px 20px;
}
.button.is-info:hover {
	background:#41EFD2;
	opacity:0.8;
	cursor:pointer;
	color:#000000;
}
.button.is-info.chat{
	font-size:20px;
	min-height:61px;
	border-radius:18px;
}
.button.is-info.chat img {
	margin-left:10px;
}
.button.is-primary {
    font-size:14px;
	color:#ffffff;
	border-radius:15px;
	padding:10px 40px 10px 20px;
	background-color:#7D4ACE;
	background-image:url("../wp-content/themes/iknowledgebase/images/go-to.svg");
	background-position:90%;
	background-repeat:no-repeat;
}
.button.is-primary:hover {
	background-color:#7D4ACE !important;
	opacity:0.8;
	cursor:pointer;
}
.button.is-primary span {
	color:#ffffff;
}

.footer{
	background:#f3f3f3;
}
.footer-text p {
	font-size:10px;
	margin-bottom:10px;
}
.footer-text .navbar {
	background:transparent;
	font-size:10px;
}
.footer-text .navbar a:hover {
	text-decoration: underline;
	cursor:pointer;
}
.footer .copyright {
	font-size:14px;
	margin-top:10px;
}
.footer .social {
	font-size:16px;
	margin-bottom:10px;
}
.footer .qr {
    background: #ffffff;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-bottom-note {
	position: fixed;
	left: 0%;
	right: 0%;
	bottom: 0%;
	padding:10px;
	background: #EBEBEB;
	border-radius: 14px 14px 0px 0px;
}
.footer-bottom-note p {
	font-size:10px;
	max-width:1051px;
	margin:0 auto;
	text-align:center;
}
.footer-bottom-note span {
	font-family: "Girloy Bold";
}
.social-icons{
	display:flex;
	align-items:center;
}
.social-icons img {
	margin:0 10px 0 0;
}
.social-icons a img:hover{
	cursor:pointer;
	opacity:0.6;
}
.icon.is-small .icon-search {
	color:#333333;
}

.panel-icon {
	width:30px;
	height:30px;
}
.icon-book::before {
	content:'';
}

.search-form .icon-search::before {
	content: '';
}
.wp-block-categories-list.wp-block-categories {
	padding:0;
}
article {
	background:#eeeeee;
	border-radius:20px;
	padding:20px;
}
article h3 {
	color:#000000;
	font-size:20px;
	font-family: "Girloy Semi-Bold";
	border-bottom:1px solid #000000;
	padding-bottom:10px;
}
article p {
	font-size:12px;
	color:#000000;
	font-family: "Girloy Medium";
}
article .breadcrumb-single-post {

	display: flex;
	align-items:center;
}
article .breadcrumb-single-post p {
	font-size:14px;
	font-family: "Girloy Medium";
	margin:0 0 0 10px;
}
article .breadcrumb-single-post span {
	font-family: "Girloy Semi-Bold";
}

@media screen and (min-width:641px) and (max-width:900px){
	.categories-section {
		justify-content: center;
	}
	.category-box {
		width:50%;
	
	}
}
@media screen and (max-width:991px){ 
	.container {
		max-width:none !important;
	}
}
@media screen and (max-width:640px){

	.categories-section {
		justify-content: center;
	}
	.category-box {
		width:100%;
	
	}
}
@media screen and (max-width: 1023px){
.navbar>.container {
    display: block !important;
}
}