a {
	text-decoration:none;
}
@font-face {
  font-family: "Girloy";
  src: url("../font/Gilroy-Regular.eot");
  src: url("../font/Gilroy-Regular.eot?m4qrx6#iefix") format("embedded-opentype"), url("../font/Gilroy-Regular.woff2?m4qrx6") format("woff2"), url("../font/Gilroy-Regular.woff?m4qrx6") format("woff"), url("../font/Gilroy-Regular.ttf?m4qrx6") format("truetype");
  font-style: normal;
  font-weight: 400;
}

* {
	font-family: 'Girloy';
	color:#000000;
}
.brand-logo {
    max-width: 200px;
    padding: 0;
}
.navbar-end {
	font-size:14px;
}

body.custom-background {
    background-color: #ffffff;
}

.category-box {
	width: calc((100% - 60px) / 3);
	margin-right: 20px;
	margin-bottom: 38px;
	background:#EEEEEE;
	border-radius:30px;
	
display:flex;
	align-items:center;
	text-align:center;
	justify-content:space-between;
	padding:20px;
	max-height:123px;
	max-width:322px;
	
	
}
.category-box h3 a {
	color:#000000;
}
.category-box h3 {
	font-weight:bold;
	font-size:20px;
	line-height:24px;
	max-width:100px;
	text-align:right;
	
}
.category-box img {
	height:60px;
}
.content a, .widget a {
	text-decoration:none;
}
.box {
	background:none;
	box-shadow:none;

}
.title {
	display:none;
}
.wp-block-search__input {
	border-radius:5px;
	padding:20px;
	 box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
	border:1px solid #dddddd;
}
.wp-block-search__input:focus {
	border:none !important;
	outline:none !important;
}
.categories-section {
	display: flex !important;
	flex-wrap: wrap !important;
	justify-content:space-between;
	column-gap: 0 !important;
	min-height:200px;
	margin:30px 0;
	max-width: 1100px;
  margin: 50px auto 0 auto;
	
}

.is-primary.input, .is-primary.textarea {
		border-radius:5px;
	padding:20px;
	 box-shadow: none !important;
	border:1px solid #42E4C9;
	height:50px !important;
	padding:5px !important;
}
.search-form.is-relative .button.is-primary {
	border-radius:5px;
	padding:20px;
	 box-shadow:none !important;
	border:1px solid #42E4C9;
	border-left:none;
	background:#ffffff;
	color:#000000;
	height:50px !important;
}
.search-form.is-relative .button.is-primary:hover {
	background:white !important;
	border-left:none !important;
	border:1px solid #42E4C9;
}
#sidebar .widget.widget_block.content.box {
	margin-bottom:0 !important;
	padding-bottom:0 !important;
}
.wp-block-categories-list li a {
	color:#000000;
}
.wp-block-categories-list li a:before {
	color:#000000;
}
.breadcrumb {
	margin: 20px auto;
    text-align: center;
	display:flex;
	justify-content:center;
}
.breadcrumb ul li {
	
	display:none !important;
}
.breadcrumb ul li.is-active {
	font-weight:bold;
	font-size:20px;
	display:block !important;
}
.breadcrumb ul li.is-active::before {
	display:none;
}
.wp-block-categories-list li.current-cat a{
	font-weight:bold;
}
.chat-blk {
	background:#7D4ACE;
	padding:40px 20px;

}
.chat-blk .container {
			display:flex;
	justify-content:space-between;
	align-items:center;
}
.chat-blk h6 {
	color:#ffffff;
	font-size:24px
}
.chat-blk p {
	color:#ffffff;
	font-size:24px
}
.button {
	min-width:127px;
}
.button.is-info {
	background:#41EFD2;
	font-size:16px;
	color:#000000;
	border-radius:15px;
	padding:10px 20px;
}
.button.is-info:hover {
	background:#41EFD2;
	opacity:0.8;
	cursor:pointer;
	color:#000000;
}
.button.is-primary {
		font-size:16px;
	color:#ffffff;
	border-radius:15px;
	padding:10px 20px;
	background:#7D4ACE;
}
.button.is-primary:hover {
	background:#7D4ACE;
	opacity:0.8;
	cursor:pointer;
}
.button.is-primary span {
	color:#ffffff;
}

.footer-text p {
	font-size:10px;
	margin-bottom:10px;
}
.footer-text .navbar {
	background:transparent;
	font-size:10px;
}
.footer-text .navbar a:hover {
	text-decoration: underline;
	cursor:pointer;
}
.footer .copyright {
	font-size:14px;
	margin-top:10px;
}
.footer .social {
	font-size:16px;
	margin-bottom:10px;
}
.footer-bottom-note {
	position: fixed;
	left: 0%;
	right: 0%;

	bottom: 0%;
	padding:10px;
	background: #EBEBEB;
	border-radius: 14px 14px 0px 0px;
}
.footer-bottom-note p {
	font-size:10px;
	max-width:1051px;
	margin:0 auto;
	text-align:center;
}